:root {
  --grass: #7ac74c;
  --fire: #ee8130;
  --water: #6390f0;
  --bug: #a6b91a;
  --normal: #a8a77a;
  --fighting: #c22e28;
  --flying: #a98ff3;
  --poison: #a33ea1;
  --ground: #e2bf65;
  --rock: #b6a136;
  --ghost: #735797;
  --steel: #b7b7ce;
  --electric: #f7d02c;
  --psychic: #f95587;
  --ice: #96d9d6;
  --dragon: #6f35fc;
  --dark: #705746;
  --fairy: #d685ad;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
  max-width: 1440px;  
}

header {
  padding-left: 144px;
  padding-right: 144px;
  border-bottom: 1px solid rgba(225, 210, 188, 0.53);
}

header img {
  height: 100px;
  margin: 8px;
}

.loaderOverlay {  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
}

.loaderImg {
  height: 100px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 144px;
  padding-right: 144px;
  font-size: 24px;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 24px;
}

.pkmn-tile {
  display: flex;
  flex-direction: column;
  padding: 16px;
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 5px 6px 5px #dfe6ff;
  width: 250px;
  border-radius: 8px;
}

.pkmn-tile:hover {
  transform: scale(1.04);
}

.pkmn-tile-img {
  max-height: 200px;
  width: auto;
  object-fit: contain;
}

.pkmn-tile-type {
  display: flex;
  justify-content: space-between;
}
